@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'open_sans';
    src: url('../fonts/Inter-VariableFont_slnt_wght.ttf') format('truetype');
  }
}

body {
  font-family: 'open_sans';
}
